
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    color: transparent;
}

header {
    background-color: transparent;
    padding: 20px;
    backdrop-filter: blur(10px);
}

nav {
    display: flex;
    justify-content: center; 
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px; 
    font-weight: bold;
}




.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.cta-button {
    background-color: #ff8c00;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.cta-button:hover {
    background-color: #ff4500;
}

.newsletter {
    text-align: center;
    padding: 50px 0;
}

.title {
    color: rgb(255, 255, 255);
}


.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-form label {
    display: none;
}

.newsletter-form input[type="text"],
.newsletter-form input[type="email"],
.newsletter-form button {
    margin: 5px;
    padding: 10px;
    border-color: #ff8c00;
    border-radius: 5px;
}
.name-color{
    color: black;
}
.email-color{
    color: black;
}

.newsletter-form button {
    background-color: steelblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.newsletter-form button:hover {
    background-color: #4682b4;
}

.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 50px;
    background-color: transparent;
    color: blue;
}
p{
    color: #ff4500;
}

.feature {
    background-color: transparent;
    padding: 20px;
    border-radius: 5px;
    border-color: #ff8c00;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.feature img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.feature h3 {
    margin-bottom: 10px;
}

footer {
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 20px;
}

footer a {
    color: #ff8c00;
    text-decoration: none;
    margin-left: 10px;
}
